
//base colors
$primary_color:#020202;
$primary_color_light:#090505;
$secondary_color:#151515;
$secondary_color_light:#343333;
$text_color:#f0f0f0;
$header_color:#f0f0f0;
$border_color:#f0f0f0;
$text_color_dark:rgba($text-color,.5);