header#header
    nav.container
        a.logo
            //include ../svgs/logo_dark_mode.svg
            img(src="./assets/images/logo_dark_mode.svg")
        .sidebar-btn.fa.fa-gear
        ul.links
            li
                a(href="#portfolio") portfolio
            li
                a(href="#projects") projects
            li
                a(href="#about") about
            li
                a(href="#contact") contact


