section#portfolio
    .container
        h2.row.slogan
            | hi i am ayoub <br>
            | a web developer
        .row.gallery.swiper
            .swiper-wrapper
                .swiper-slide 1
                .swiper-slide 2
                .swiper-slide 3
                .swiper-slide 4
                .swiper-slide 5
            .swiper-pagination
            .swiper-button-prev
                .fa.fa-solid.fa-arrow-left
            .swiper-button-next
                .fa.fa-solid.fa-arrow-right
            .swiper-scrollbar
                |   hello
        .row
        .row
            .col
            .col
            .col